
#deleteB {
  float: right;
margin-top: 2.5rem;
margin-right: 15px;
}

#saveB {
  float: right;
  margin-top: 2.5rem
  
}

.container {
  height: 10px;
}

  .divider {
    margin-top: 1px;
    margin-bottom: 1px;
  }
  
    
    #decker {
      height: 140px;
      width: 120px;
    }

