.card-title {
    font-size: 3rem;

}

.collection-item {
    font-size: 9px;
}




.collection {

    height: 100px;
}

.collection-item {
    height: 10px;
}

.badge {
    height: 5px;
    position: auto;

}
