.cardName {

    font-size: 1rem;
}
/* 
.img-container {
    margin-top: 0rem;
    margin-bottom: 0rem;

} */


.card-content {
    float: center;
    position: center;
}

.collection-item {
    font-size: 10px;
    padding: 2px;
    

}

/* .badge {
    position: center;
} */

.costDamage-container {
    
        position: relative;
        /* bottom: 8px; */
        left: 10px;
        right: 2px;
        height: 25px;
        top: 120px;

        width: 100px;
        /* border: 1px solid #73AD21; */
      }





.card-image {
    max-height: 100px;
    max-width: auto;
}

