.App-header {
    text-align: center;
    font-style: normal;
    color: rgb(209, 227, 250);
  }

.header {
    /* align-content: center; */
    position: relative;
    text-align: center;
    width: 100%;
}



