








  progress {
  /* font-size: 2rem; */
  /* height: 20px; */

  /* padding-left: 100px;  */
  /* margin-top: 10px; */

  width: 80%;
}

  meter {
    /* font-size: 3rem;
    height: 20px;
    padding-left: 100px; 
    margin-top: 10rem; */
    width: 80%
  }
