.pickDeck {
    margin-bottom: 0rem;
    padding: 1px;
    font-size: .8cm;
    position: relative;
    text-align: left;
    font-style: initial;
    color: rgb(111, 27, 221);
  } 

  table {
      color: white;
  }