
#gauge {
    transform: rotate(0deg);
    margin-left: 10%;
    margin-top: 3%;
    font-size: 12px;
  }
  
  p {
text-align: left;
font-size: 15px;
margin-top: 2%;
margin-bottom: 0%;
  }
  
  /* p.event_desc {
    font: bold 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 14px;
    height:75px;
    margin: 0px;
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    border: 1px solid #f00;
  } */