body {
  background-image: url(../../saturn.jpg)
}


.container-fluid {
    background: rgb(242, 193, 252);
    border-radius: 6px;
    width: 90%;
    height: full;    
    margin-bottom: 2rem;
    /* margin-left: 3rem; */
    /* margin-right: 1rem; */
    position: relative;
    box-shadow: 0 28px 40px rgb(24, 10, 221), 0 20px 25px rgb(235, 34, 218);
    text-align: left;
}

.pickDeck {
  margin-bottom: 0rem;
  padding: 1px;
  font-size: .8cm;
  position: relative;
  text-align: left;
  font-style: initial;
  color: rgb(88, 20, 177);
} 

.divider {
  margin-top: 0px;
  margin-bottom: 0px;
}

#testOne { 
  background-color: rgb(113, 113, 192);
}

