

#enemyCard {
    width: 30%;
}


.enemyCard {
    /* margin-bottom: 0rem; */
    font-size: .5cm;
    padding-top: 1rem;
    position: relative;
    text-align: right;
    font-style: cursive;
    color: rgb(22, 4, 46);
    margin-top: 3rem;
    margin-bottom: 2px;

  }

  progress {
  /* font-size: 2rem; */
  /* height: 20px; */

  /* padding-left: 100px;  */
  /* margin-top: 10px; */

  width: 70%;
}

  meter {
    /* font-size: 3rem;
    height: 20px;
    padding-left: 100px; 
    margin-top: 10rem; */
    width: 70%
  }
